<h1>Welcome to Rails Modeler</h1>

<p>
<em>Rails modeler</em> is a tool 
- built in ruby on rails -
for visualizing, designing and playing with
a rails application without having to generate code.
When you are ready, you can generate your rails app in confidence in one fell swoop.
Rails modeler is designed to make building rails applications fun, easier, and less error-prone.
</p>

<p>
Rails modeler enables you to <strong>manage</strong> (list, create, view, edit, delete):
</p>

<ul>
	<li> multiple rails applications </li>
	<li> the model classes within an application </li>
	<li> the attributes of a model class </li>
	<li> the associations between model classes </li>
</ul>

As you incrementally build your rails application, rails modeler will show you:
<ul>
	<li> the rails command which creates your application, including choice of database </li>
	<li> the rails scaffold command for each model class </li>
	<li> the ruby code for each model class, including associations </li>
</ul>

<p>
Ready to create or edit your rails application?
Great!  Just click on the link below
and we will take you to the rails application page.
</p>

<%= link_to 'Rails Applications', apps_path %>

<br />
<br />

<center>
	<%= image_tag( "/images/businesscard.png") %>
</center>

